.messageBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  display: flex;
  align-items: center;
  height: 100px;
  width: 250px;
  padding: 0 20px;
  background-color: #3e9d3e;
  color: white;
  font-size: 20px;
  border-radius: 40px;
  white-space: pre-line;
  box-shadow: 10px 10px 15px 0 rgba(34, 60, 80, 0.5);
  transition: opacity 800ms ease-in-out;
  opacity: 0;
}